@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.section--title {
  text-align: center;
  margin: 2rem 0;
}
.header {
  padding: 0 10%;
}
.home {
  padding: 0rem 10%;
}
