.top-user-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logged--user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logged--user img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.header--divider {
  border-right: 1px solid rgb(221, 221, 221);
  padding: 15px 0;
  height: 100%;
}
