.list--section {
  padding: 1rem 0;
}
.home--list--container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.home--list--container .apartment--list {
  width: 380px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.home--list--container .list-detail {
  padding: 0 20px;
}
.home--list--container .list-title {
  font-size: 1.2rem;
  color: #3c7cd4;
  height: 55px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
}
.home--list--container .list--image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.home--list--container .list-status {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.home--list--container .list-status-true {
  background: #1677ff;
}
.home--list--container .list-status-false {
  background: red;
}

.home--list--container .list-genderType {
  color: rgb(41, 205, 208);
  border: 1px solid rgb(41, 205, 208);
  border-radius: 80px;
  padding: 2px 20px;
  font-size: 12px;
}
.home--list--container .list-type {
  color: gray;
  border: 1px solid gray;
  border-radius: 80px;
  padding: 2px 20px;
  font-size: 12px;
}
.home--list--container .apartment-address {
  margin-top: 10px;
  background: #e6f7ff;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  color: gray;
  padding: 8px 15px;
}
.home--list--container .apartment-address .icon {
  color: #1677ff;
  font-size: 18px;
}
.home--list--container .apartment-detail {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home--list--container .apartment-detail span {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #3c7cd4;
}
.home--list--container .apartment-detail span .icon {
  font-size: 16px;
  color: #7fa4d9;
}
.home--list--container .divider {
  border: 1px solid rgb(229, 229, 229);
  margin-top: 15px;
}

.home--list--container .apartment-about {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}
.home--list--container .apartment-rent {
  display: flex;
  flex-direction: column;
}
.home--list--container .rent--slogan {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}
.home--list--container .rent-mount {
  font-weight: bold;
  font-size: 1rem;
  color: #7fa4d9;
}
.home--list--container .rent-mount span {
  font-size: 10px;
}

@media screen and (max-width: 879px) {
  .home--list--container .apartment--list {
    width: 100%;
    transition: 0.5s ease-in;
  }
}
